body {
    background-color: rgb(231, 231, 231);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2.1rem !important;
    font-family: "Fjalla One", Arial, Helvetica, sans-serif;
    margin: 0;
    color: white;
}

p {
    margin: 0;
}

.card {
    margin: 0 4rem 3rem 4rem;
}

form {
    padding: 1.3rem;
}

#clock {
    padding: 0.5rem 2rem;
    font-size: 1.1rem;
    font-family: "Cutive Mono", 'Courier New', Courier, monospace;
}

.jumbotron {
    background: linear-gradient(to right, rgb(3, 29, 53), rgb(123, 179, 224));
    padding: 1rem 2rem;
    margin: 0;
}

.inner-jumbo {
    width: 50%;
}

#station-img {
    width: 98vw;
}

#welcome {
    position: relative;
}

#welcome-text {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 2rem;
    width: 45%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
    font-family: "Oswald", Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 1.7rem;
    /* color: rgb(123, 179, 224); */
    color: rgb(255, 193, 7);
    margin: 0.5rem 0;
}

span, ul {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}

ul {
    line-height: 1.9;
    list-style-type: none;
}

li i {
    color: rgb(255, 193, 7);
    margin-left: -1.4rem;
    font-size: 0.8rem;
    margin-right: 0.7rem;
}

/* .container {
    margin: 0 1rem;
} */

tr {
    border-radius: 10px;
}

.card {
    margin: 0.5rem;
    border-radius: 5px 5px 20px 20px;
}

#wrapper {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#list {
    width: 75vw;
}

#add-train {
    width: 20vw;
    height: 50%;
}

.card-header {
    background-color: rgb(102, 180, 216);
    font-weight: bold;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    height: 60px;
    color: white;
}

#go-up {
    background-color: black;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 35px;
    right: 15px;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

p {
    font-size: 1.06rem;
    color: white;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
}

a, a:hover {
    color: white;
}

#welcome-responsive, #span-responsive {
    display: none;
}

#sign-in {
    padding: 0 0.8rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    box-shadow: 0 3px rgba(7, 45, 102, 0.4);
}

button {
    background-color: rgb(58, 138, 175) !important;
    border: none !important;
    border-radius: 15px !important;
    font-size: 0.8rem !important;
}


/* Media queries */

@media screen and (max-width: 1050px) {
    #wrapper {
        flex-wrap: wrap;
        flex-direction: column;
    }

    #list {
        width: 98%;
    }
    
    #add-train {
        width: 98%;
    }

    table td, table th{
        font-size: 1.5vw;
    }

    #welcome-responsive, #span-responsive {
        display: block;
    }

    h2 {
        margin-top: 0;
    }

    #welcome-heading, #welcome-message {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    #span-responsive {
        display: none;
    }

    #sign-in {
        background: none;
        box-shadow: none;
    }
}

@media screen and (max-width: 470px) {
    h2 {
        font-size: 100%;
    }
}

@media screen and (max-width: 340px) {
    #welcome {
        display: none;
    }
}